/* Your custom fonts here */
/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value   
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/
@font-face {
  font-family: 'Vogue-medium';
  src: url("../../static/fonts/Vogue-medium/Vogue-medium.woff2") format("woff2"), url("../../static/fonts/Vogue-medium/Vogue-medium.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Core Sans C';
  src: local("Core Sans C 15 Thin"), local("Core-Sans-C-15-Thin"), url("../../static/fonts/CoreSansC/CoreSansC-15Thin.woff2") format("woff2"), url("../../static/fonts/CoreSansC/CoreSansC-15Thin.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

.jacky {
  background-color: #111111;
}

.jacky * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.jacky * p {
  margin: 0;
  padding: 0;
}

.jacky__wrapper {
  color: #ffffff;
  height: auto;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  min-width: 320px;
  background: url("../img/assets/jacky/background-jackys.png") no-repeat;
  background-color: #111111;
  background-position: calc(50% + 162px) 0;
  background-size: 1570px;
}

@media screen and (min-width: 750px) {
  .jacky__wrapper {
    background-size: 2400px;
    background-position: calc(50% + 130px) 0;
  }
}

.jacky-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jacky-about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@media screen and (min-width: 750px) {
  .jacky-about__container {
    width: 700px;
  }
}

.jacky-about__title {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#6e6e6e), color-stop(27%, #c0c0c0), color-stop(50%, #eeeeee), color-stop(73%, #c0c0c0), to(#9b9b9b));
  background-image: -webkit-linear-gradient(bottom, #6e6e6e 0%, #c0c0c0 27%, #eeeeee 50%, #c0c0c0 73%, #9b9b9b 100%);
  background-image: linear-gradient(to top, #6e6e6e 0%, #c0c0c0 27%, #eeeeee 50%, #c0c0c0 73%, #9b9b9b 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: #ffffff;
  font-family: "Vogue-medium", "Times New Roman", serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.6px;
  -webkit-text-fill-color: transparent;
  line-height: 32px;
  margin-bottom: 125px !important;
}

@media screen and (min-width: 750px) {
  .jacky-about__title {
    margin-bottom: 74px !important;
    -ms-flex-item-align: start;
        align-self: flex-start;
    position: relative;
    left: 100px;
  }
}

@media screen and (min-width: 750px) {
  .jacky-about__content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 700px;
  }
}

.jacky-about__img {
  position: relative;
  margin-bottom: 65px;
}

.jacky-about__img img {
  position: relative;
  width: 316px;
  z-index: 1;
}

@media screen and (min-width: 750px) {
  .jacky-about__img {
    top: 25px;
  }
}

.jacky-about__img::before {
  content: "";
  display: block;
  position: absolute;
  width: 245px;
  height: 347px;
  top: -88px;
  right: -110px;
  background-color: #141414;
  background: url("../img/assets/jacky-about/about-background.png") no-repeat;
}

@media screen and (min-width: 750px) {
  .jacky-about__img::before {
    width: 329px;
    height: 466px;
    top: -118px;
    right: -94px;
  }
}

.jacky-about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 315px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.25px;
}

.jacky-about__item {
  margin-bottom: 30px;
  padding-left: 68px;
  position: relative;
  min-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jacky-about__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 28px;
  top: 5px;
  background: url("../img/assets/jacky-about/marker-about.png") no-repeat;
}

.jacky-banner__container {
  width: 320px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 20px;
}

@media screen and (min-width: 750px) {
  .jacky-banner__container {
    width: 750px;
    padding-right: 0px;
  }
}

.jacky-banner__logo {
  width: 102px;
  height: 43px;
  margin: 32px 54px;
}

@media screen and (min-width: 750px) {
  .jacky-banner__logo {
    width: 146px;
    height: 62px;
    margin: 44px auto;
  }
}

.jacky-banner__goods {
  position: absolute;
  width: 165px;
  height: 209px;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 750px) {
  .jacky-banner__goods {
    width: 264px;
    height: 332px;
    left: 200px;
    bottom: -10px;
  }
}

.jacky-banner__info {
  padding-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (min-width: 750px) {
  .jacky-banner__info {
    padding-right: 80px;
  }
}

.jacky-banner__title {
  font-family: "Vogue-medium", "Times New Roman", serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 25px !important;
}

@media screen and (min-width: 750px) {
  .jacky-banner__title {
    font-size: 23px;
    margin-bottom: 42px !important;
  }
}

.jacky-banner__description {
  font-family: "Core Sans C", "Arial", sans-serif;
  font-size: 9px;
  font-weight: 400;
  line-height: 15.83px;
}

@media screen and (min-width: 750px) {
  .jacky-banner__description {
    font-size: 14px;
  }
}

.jacky-banner__price {
  font-family: "Vogue-medium", "Times New Roman", serif;
  font-size: 28px;
  font-weight: 500;
  color: #c0c0c0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#6e6e6e), color-stop(27%, #c0c0c0), color-stop(50%, #eeeeee), color-stop(73%, #c0c0c0), to(#9b9b9b));
  background-image: -webkit-linear-gradient(bottom, #6e6e6e 0%, #c0c0c0 27%, #eeeeee 50%, #c0c0c0 73%, #9b9b9b 100%);
  background-image: linear-gradient(to top, #6e6e6e 0%, #c0c0c0 27%, #eeeeee 50%, #c0c0c0 73%, #9b9b9b 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 750px) {
  .jacky-banner__price {
    font-size: 42px;
    line-height: 55.36px;
  }
}

.jacky-banner__title, .jacky-banner__description, .jacky-banner__price {
  text-align: right;
}

.jacky-banner__button {
  display: block;
  text-align: center;
  width: 97px;
  padding: 8px 0px;
  background-color: #4e4e4e;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2a2a2a), to(#c5c5c5));
  background-image: -webkit-linear-gradient(bottom, #2a2a2a 0%, #c5c5c5 100%);
  background-image: linear-gradient(to top, #2a2a2a 0%, #c5c5c5 100%);
  font-family: "Core Sans C", "Arial", sans-serif;
  color: #000000;
  text-decoration: none;
  font-size: 9px;
  font-weight: 700;
  line-height: 14.72px;
  text-transform: uppercase;
  letter-spacing: 0.77px;
  margin-top: 30px;
}

@media screen and (min-width: 750px) {
  .jacky-banner__button {
    width: 142px;
    padding: 12px 0px;
    font-size: 14px;
    line-height: 21.67px;
    margin-top: 43px;
  }
}

.jacky-categories__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.jacky-categories__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 320px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 750px) {
  .jacky-categories__items {
    width: 700px;
  }
}

.jacky-categories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 124px;
  margin-bottom: 20px;
}

.jacky-categories__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  height: 128px;
  border: 1px solid #888888;
}

.jacky-categories__title {
  color: #959595;
  font-family: "Core Sans C", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-align: center;
}

.jacky-goods__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
}

.jacky-goods__title-block {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#6e6e6e), color-stop(27%, #c0c0c0), color-stop(50%, #eeeeee), color-stop(73%, #c0c0c0), to(#9b9b9b));
  background-image: -webkit-linear-gradient(bottom, #6e6e6e 0%, #c0c0c0 27%, #eeeeee 50%, #c0c0c0 73%, #9b9b9b 100%);
  background-image: linear-gradient(to top, #6e6e6e 0%, #c0c0c0 27%, #eeeeee 50%, #c0c0c0 73%, #9b9b9b 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: #ffffff;
  font-family: "Vogue-medium", "Times New Roman", serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.6px;
  -webkit-text-fill-color: transparent;
  line-height: 32px;
  margin-bottom: 35px !important;
}

.jacky-goods__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 320px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 750px) {
  .jacky-goods__items {
    width: 700px;
  }
}

.jacky-goods__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 138px;
  margin-bottom: 20px;
}

.jacky-goods__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  height: 142px;
  border: 1px solid #888888;
}

.jacky-goods__title {
  color: #959595;
  font-family: "Core Sans C", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-align: center;
}

.jacky-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 48px 0px;
}

.jacky-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 320px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 750px) {
  .jacky-menu__items {
    width: 700px;
  }
}

.jacky-menu__item {
  font-size: 16px;
  font-weight: 400;
  font-family: "Core Sans C", "Arial", sans-serif;
  position: relative;
  color: #959595;
  letter-spacing: 0.39px;
  width: 40%;
  text-align: center;
  padding: 10px;
  margin: 0px 14px;
  border-bottom: 1px solid #898989;
}

.jacky-menu__item:nth-child(-2n + 3)::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 33px;
  background-color: #898989;
  top: 12px;
  right: -14px;
}

@media screen and (min-width: 750px) {
  .jacky-menu__item:nth-child(-2n + 3)::after {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .jacky-menu__item {
    width: 20%;
    border-bottom: none;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin: 0px;
    border-right: 1px solid #898989;
    padding: 0px;
  }
  .jacky-menu__item:last-child {
    border-right: none;
  }
}

.jacky-vip {
  background-color: #141414;
  background: url("../img/assets/jacky-vip/vip-background.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.jacky-vip__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jacky-vip__title {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#6e6e6e), color-stop(27%, #c0c0c0), color-stop(50%, #eeeeee), color-stop(73%, #c0c0c0), to(#9b9b9b));
  background-image: -webkit-linear-gradient(bottom, #6e6e6e 0%, #c0c0c0 27%, #eeeeee 50%, #c0c0c0 73%, #9b9b9b 100%);
  background-image: linear-gradient(to top, #6e6e6e 0%, #c0c0c0 27%, #eeeeee 50%, #c0c0c0 73%, #9b9b9b 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: #ffffff;
  font-family: "Vogue-medium", "Times New Roman", serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.6px;
  -webkit-text-fill-color: transparent;
  line-height: 32px;
  margin-bottom: 35px !important;
}

.jacky-vip__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 320px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.25px;
}

@media screen and (min-width: 750px) {
  .jacky-vip__items {
    width: 700px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.jacky-vip__item {
  margin-bottom: 30px;
  padding-left: 60px;
  position: relative;
  min-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jacky-vip__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 38px;
  height: 38px;
  left: 0;
  top: calc(50% - 19px);
}

.jacky-vip__item--first::before {
  background: url("../img/assets/jacky-vip/vip-icon_1.png") no-repeat;
}

.jacky-vip__item--second::before {
  background: url("../img/assets/jacky-vip/vip-icon_2.png") no-repeat;
}

.jacky-vip__item--third::before {
  background: url("../img/assets/jacky-vip/vip-icon_3.png") no-repeat;
}

.jacky-vip__item--fourth::before {
  background: url("../img/assets/jacky-vip/vip-icon_4.png") no-repeat;
}

@media screen and (min-width: 750px) {
  .jacky-vip__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 40%;
  }
}
