/* Your custom fonts here */
/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value   
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/
body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'vogue_medium';
  src: url("../../static/fonts/Vogue-medium/medium-webfont.woff2") format("woff2"), url("../../static/fonts/Vogue-medium/medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Core Sans C';
  src: local("Core Sans C 15 Thin"), local("Core-Sans-C-15-Thin"), url("../../static/fonts/CoreSansC/coresansc-15thin-webfont.woff2") format("woff2"), url("../../static/fonts/CoreSansC/coresansc-15thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Core Sans C bold';
  src: local("Core Sans C 15 Thin"), local("Core-Sans-C-15-Thin"), url("../../static/fonts/CoreSansC-bold/CoreSansC-65Bold.woff2") format("woff2"), url("../../static/fonts/CoreSansC-bold/CoreSansC-65Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.jacky {
  background-color: #111111;
}

.jacky * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.jacky * p {
  margin: 0;
  padding: 0;
}

.jacky__wrapper {
  color: #ffffff;
  height: auto;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  min-width: 320px;
  background: url("../img/assets/jacky/background-jacky.png") no-repeat;
  background-color: #111111;
  background-size: 1000px;
  background-position: top center;
}

@media screen and (min-width: 750px) {
  .jacky__wrapper {
    background-size: 1600px;
  }
}

.jacky-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.jacky-about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 750px) {
  .jacky-about__container {
    width: 700px;
  }
}

.jacky-about__title {
  color: #ffffff;
  font-family: "Vogue-medium", "Times New Roman", serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 32px;
  margin-bottom: 30px !important;
}

.jacky-about__title--red {
  color: #b42c2c;
}

@media screen and (min-width: 750px) {
  .jacky-about__title {
    margin-bottom: 74px !important;
    -ms-flex-item-align: start;
        align-self: flex-start;
    position: relative;
    left: 100px;
  }
}

@media screen and (min-width: 750px) {
  .jacky-about__content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 700px;
  }
}

.jacky-about__img {
  position: relative;
  margin-bottom: 65px;
  display: none;
}

.jacky-about__img img {
  position: relative;
  width: 273px;
  z-index: 1;
}

@media screen and (min-width: 750px) {
  .jacky-about__img {
    top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 65px;
  }
}

.jacky-about__img::before {
  content: "";
  display: block;
  position: absolute;
  width: 245px;
  height: 347px;
  top: -55px;
  right: -25px;
  background-color: #141414;
  background: url("../img/assets/jacky-about/about-bg-mobile.png") no-repeat;
}

@media screen and (min-width: 750px) {
  .jacky-about__img::before {
    background: url("../img/assets/jacky-about/about-bg-desktop.png") no-repeat;
    width: 329px;
    height: 466px;
    top: -118px;
    right: -94px;
  }
}

.jacky-about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 315px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #e2e2e2;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.25px;
}

.jacky-about__item {
  margin-bottom: 30px;
  padding-left: 50px;
  padding-right: 20px;
  position: relative;
  min-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jacky-about__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 15px;
  top: 5px;
  background: url("../img/assets/jacky-about/marker-about.png") no-repeat;
}

@media screen and (min-width: 750px) {
  .jacky-about__item {
    padding-right: 0px;
  }
}

.jacky-banner__container {
  width: 320px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10px;
}

@media screen and (min-width: 750px) {
  .jacky-banner__container {
    width: 750px;
    padding-right: 0px;
  }
}

.jacky-banner__logo {
  width: 85px;
  height: 38px;
  margin: 32px 54px;
  -ms-flex-item-align: center;
      align-self: center;
}

@media screen and (min-width: 750px) {
  .jacky-banner__logo {
    width: 146px;
    height: 62px;
    margin: 44px auto;
  }
}

.jacky-banner__goods {
  position: absolute;
  width: 180px;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 750px) {
  .jacky-banner__goods {
    width: 264px;
    height: 332px;
    left: 180px;
    bottom: -10px;
  }
}

.jacky-banner__info {
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (min-width: 750px) {
  .jacky-banner__info {
    padding-right: 100px;
  }
}

.jacky-banner__title {
  font-family: "vogue_medium", "Times New Roman", serif;
  font-size: 16px;
  font-weight: 500;
  color: #e2e2e2;
  margin-bottom: 25px !important;
}

@media screen and (min-width: 750px) {
  .jacky-banner__title {
    font-size: 23px;
    margin-bottom: 42px !important;
  }
}

.jacky-banner__title--red {
  color: #b42c2c;
}

.jacky-banner__description {
  font-family: "Core Sans C", "Arial", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 15.83px;
  color: #e2e2e2;
}

.jacky-banner__description--min9 {
  font-size: 9px;
}

@media screen and (min-width: 750px) {
  .jacky-banner__description {
    font-size: 14px;
    line-height: 23.3px;
  }
}

.jacky-banner__price {
  font-family: "vogue_medium", "Times New Roman", serif;
  font-size: 28px;
  font-weight: 500;
  color: #b42c2c;
}

@media screen and (min-width: 750px) {
  .jacky-banner__price {
    font-size: 42px;
    line-height: 55.36px;
  }
}

.jacky-banner__title, .jacky-banner__description, .jacky-banner__price {
  text-align: right;
}

.jacky-banner__button {
  display: block;
  text-align: center;
  width: 97px;
  padding: 8px 0px;
  background-color: #b42c2c;
  font-family: "Core Sans C", "Arial", sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-size: 9px;
  font-weight: 700;
  line-height: 14.72px;
  text-transform: uppercase;
  letter-spacing: 0.77px;
  margin-top: 30px;
}

.jacky-banner__button:hover {
  background-color: #DA5E5E;
}

@media screen and (min-width: 750px) {
  .jacky-banner__button {
    width: 142px;
    padding: 12px 0px;
    font-size: 14px;
    line-height: 21.67px;
    margin-top: 43px;
  }
}

.jacky-categories__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.jacky-categories__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 320px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 750px) {
  .jacky-categories__items {
    width: 700px;
  }
}

.jacky-categories__item {
  color: #e2e2e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 124px;
  margin-bottom: 20px;
}

.jacky-categories__item:hover {
  cursor: pointer;
}

.jacky-categories__item:hover > .jacky-categories__title {
  color: #ffffff;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.jacky-categories__item:hover > .jacky-categories__img {
  -webkit-box-shadow: 0 0 20px white;
          box-shadow: 0 0 20px white;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.jacky-categories__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  height: 128px;
  border: 1px solid #898989;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.jacky-categories__title {
  font-family: "Core Sans C", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.35px;
  text-align: center;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.jacky-goods__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
}

.jacky-goods__title-block {
  width: 250px;
  text-align: center;
  color: #ffffff;
  font-family: "Vogue-medium", "Times New Roman", serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 32px;
  margin-bottom: 35px !important;
}

.jacky-goods__title-block--red {
  color: #b42c2c;
}

@media screen and (min-width: 750px) {
  .jacky-goods__title-block {
    width: auto;
  }
}

.jacky-goods__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 320px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 750px) {
  .jacky-goods__items {
    width: 700px;
  }
}

.jacky-goods__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 138px;
  margin-bottom: 20px;
}

.jacky-goods__item:hover {
  cursor: pointer;
}

.jacky-goods__item:hover > .jacky-goods__title {
  color: #ffffff;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.jacky-goods__item:hover > .jacky-goods__img {
  -webkit-box-shadow: 0 0 20px rgba(226, 226, 226, 0.17);
          box-shadow: 0 0 20px rgba(226, 226, 226, 0.17);
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.jacky-goods__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  height: 142px;
  border: 1px solid #888888;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.jacky-goods__title {
  color: #e2e2e2;
  font-family: "Core Sans C", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-align: center;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.jacky-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 48px 0px;
}

.jacky-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 320px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 750px) {
  .jacky-menu__items {
    width: 700px;
  }
}

.jacky-menu__item {
  font-size: 16px;
  font-weight: 00;
  font-family: "Core Sans C", "Arial", sans-serif;
  position: relative;
  color: #e2e2e2;
  letter-spacing: 0.3px;
  width: 40%;
  text-align: center;
  padding: 10px;
  margin: 0px 14px;
  border-bottom: 1px solid #898989;
}

.jacky-menu__item--bold {
  font-weight: 700;
  font-family: "Core Sans C bold", "Arial", sans-serif;
}

.jacky-menu__item:hover {
  color: #ffffff;
  cursor: pointer;
}

.jacky-menu__item:nth-child(-2n + 3)::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 33px;
  background-color: #898989;
  top: 12px;
  right: -14px;
}

@media screen and (min-width: 750px) {
  .jacky-menu__item:nth-child(-2n + 3)::after {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .jacky-menu__item {
    width: 20%;
    border-bottom: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    margin: 0px;
    border-right: 1px solid #898989;
    padding: 0px;
  }
  .jacky-menu__item:last-child {
    border-right: none;
  }
}

.jacky-vip {
  background-color: #141414;
  background: url("../img/assets/jacky-vip/vip-background.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.jacky-vip__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jacky-vip__title {
  color: #ffffff;
  font-family: "Vogue-medium", "Times New Roman", serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 32px;
  margin-bottom: 35px !important;
}

.jacky-vip__title--red {
  color: #b42c2c;
}

.jacky-vip__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0px 10px 0px 15px;
  list-style: none;
  width: 320px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #e2e2e2;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.3px;
}

@media screen and (min-width: 750px) {
  .jacky-vip__items {
    width: 720px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
}

.jacky-vip__item {
  margin-bottom: 30px;
  padding-left: 60px;
  position: relative;
  min-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jacky-vip__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 38px;
  height: 38px;
  left: 0;
  top: calc(50% - 19px);
}

.jacky-vip__item--first::before {
  background: url("../img/assets/jacky-vip/vip-icon_1.png") no-repeat;
}

.jacky-vip__item--second::before {
  background: url("../img/assets/jacky-vip/vip-icon_2.png") no-repeat;
}

.jacky-vip__item--third::before {
  background: url("../img/assets/jacky-vip/vip-icon_3.png") no-repeat;
}

.jacky-vip__item--fourth::before {
  background: url("../img/assets/jacky-vip/vip-icon_4.png") no-repeat;
}

@media screen and (min-width: 750px) {
  .jacky-vip__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 50%;
  }
  .jacky-vip__item--first {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .jacky-vip__item--second {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .jacky-vip__item--third {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .jacky-vip__item--fourth {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
